body{
  background-color:  #bbbcbd;
}

.container{
  max-width: 400px;
  margin-top: 50px;
  padding: 30px;
  border-radius: 30px;
  background-color:#e9e9e9;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.btn{
  width: 100%;
}

#result{
  padding: 10px;
  border-radius: 15px;
  background: #e9ecef;
}