body{
  background-color:  #bbbcbd;
}

.container{
  max-width: 400px;
  margin-top: 50px;
  padding: 30px;
  border-radius: 30px;
  background-color:#e9e9e9;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.btn{
  width: 100%;
}

.result-box {
    margin-top: 20px;
    padding: 15px;
    background: #f9fbff;
    border-radius: 10px;
    border: 1px solid #e1e7f0;
}
button {
    width: 100%;
    padding: 12px 30px;
    background: #4361ee;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #3a55d4;
}

#bmiValue {
    font-size: 28px;
    font-weight: bold;
    margin-top: 8px;
}

#bmiStatus {
    font-size: 16px;
    margin-top: 5px;
    color: #333;
}