body{
   border: 3px solid #e1306c;
   border-radius: 20px;
   background-color: cornsilk;
   padding: 10px;
}
  .container-fluid{
    border: 3px solid black;
    border-radius: 20px;
  }
  .profile img{
    width: 40%;
  }
    footer{
      background: #66a183;
       border-radius: 20px;
      color: #fff;
      padding: 40px 20px;
    }
   