body{
   border: 3px solid #e1306c;
   border-radius: 20px;
   background-color: cornsilk;
   padding: 10px;
}
 

.blog-sidebar {
    background: white;
    min-height: 100vh;
    border-radius: 20px;
    border-right: 1px solid #eee;
}

.sidebar {
    color: #333;
    font-size: 16px;
    text-decoration: none;
}

.sidebar.active {
    background: #f0f4ff;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: 600;
}


.category-card {
    background: white;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: 0.2s;
}

.category-card:hover {
    transform: translateY(-3px);
}

.category-img {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

/* ARTICLE CARDS */
.article-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.08);
    transition: 0.2s;
    cursor: pointer;
}

.article-card:hover {
    transform: translateY(-5px);
}

.article-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
