.navbar-nav .nav-item{
    margin-left: 20px;
    display: block;
    align-items: center;
    font-size: 20px;
    
}
.navbar-nav .nav-link{
    color: aliceblue;
}
.sidebar img{
   max-width: 100%;
   margin-bottom: 20px;
}
.author-card img {
    border-radius: 50%;
    width: 100px;
}
.subscribe-box {
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 5px;
}
main{
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
    padding: 0 20px;
}
main img{
    width: 100%;
    /* height: auto; */
    margin: 20px 0;
    padding: 0 20px 20px;
    border-radius: 5px;

}
main p, main blockquote {
  font-weight: 600;
}
.container{
    max-width: 90%;
}
.hero-container {
  position: relative;   
  display: inline-block;
  width: 100%;
}
.hero-text {
      position: absolute;
      bottom: 20px;
      left: 20px;
      background: wheat;
      padding: 20px;
      border-radius: 6px;
      max-width: 400px;
    }